.top {
  top: 40px !important;
}

.top-0 {
  top: 0 !important;
}

.form-control:focus {
  border-color: #dee2e6 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.sub-btn {
 background-color: #1abc9c !important;
}

.sub-btn:hover {
  background-color: #1abc9c !important;
  color: white !important;
}

.contact label {
  text-align: start;
  color: #1abc9c;
  margin-bottom: 5px;

  color: rgb(26, 188, 156);
  transition: 0.5s top;
}

.position-relative {
  position: relative;
}
